@using Haondt.Core.Models
@using SpendLess.TransactionImport.Models
@code {
    [Parameter, EditorRequired]
    public required string JobId { get; set; }

    private Dictionary<string, (string Type, Optional<List<string>> Options)> _targets = new()
    {
        { TransactionFilterTargets.Amount, ("number", new()) },
        { TransactionFilterTargets.Category, ("string", new()) },
        { TransactionFilterTargets.Description, ("text", new()) },
        { TransactionFilterTargets.Status, ("select", new([
            TransactionImportStatus.Success,
            TransactionImportStatus.Warning,
            TransactionImportStatus.Error,
        ]))},
        { TransactionFilterTargets.Warning, ("select", new([
            TransactionImportWarning.MissingSourceAccount,
            TransactionImportWarning.MissingDestinationAccount,
            TransactionImportWarning.CreatingAccountWithSameNameAsExisting,
            TransactionImportWarning.MissingCategory
        ]))}
    };

    private List<string> _operators = new()
    {
        TransactionFilterOperators.IsEqualTo,
        TransactionFilterOperators.IsNotEqualTo,
        TransactionFilterOperators.Contains,
        TransactionFilterOperators.StartsWith,
    };
}



<div 
    id="modal-container"
    class="modal is-active is-justify-content-flex-start pt-6"
    hx-swap-oob="true">
    <div 
        class="modal-background"
        _="
            on click
                remove .is-active from #modal-container
                set #modal-container's innerHTML to ''
            end
            on keydown(key) from elsewhere
                if the key is 'Escape'
                    send click to me
                end
            end
        "></div>
    <div class="card">
        <style>
            @@scope {
                :scope {
                    max-height: calc(100% - var(--bulma-modal-card-spacing));
                    display: flex;
                    flex-direction: column;
                    width: 80rem;
                }

                .card-content {
                    overflow: auto;
                    overflow-y: scroll;
                }
            }
        </style>
        <header class="modal-card-head card-header">
            <p class="modal-card-title">Review Transactions</p>
            <button class="delete" _="on click send click to the previous .modal-background"></button>
        </header>
        <section class="card-content">
            <form class="mb-2 is-flex is-flex-direction-row " style="gap:1rem;"
                hx-post="/transaction-import/dry-run/@JobId/transactions/filter"
                hx-swap="none"
                _="on htmx:afterSwap
                    if event.detail.xhr.status == 200
                        then send submit to #filters">
                <div class="select ">
                    <select id="filter-target" name="target"
                        _="on change
                            set target to the first <option[value=$(my value)]/> in me
                            set current_input to the next <.target-input:not(.is-hidden)/>
                            set desired_input_id to `${my value}-input`
                            set desired_input to #{desired_input_id}
                            if current_input != desired_input
                                if current_input != null
                                    add .is-hidden to current_input
                                end
                                if desired_input != null
                                    remove .is-hidden from desired_input
                                    ">
                        @foreach(var target in _targets.Keys)
                        {
                            <option value="@target">@target</option>
                        }
                    </select>
                </div>
                <div class="select">
                    <select id="filter-target" name="operator">
                        @foreach(var op in _operators)
                        {
                            <option value="@op">@op</option>
                        }
                    </select>
                </div>
                @{
                    var isFirst = true;
                    foreach(var (target, (type, options)) in _targets)
                    {
                        var hiddenClass = isFirst ? "" : "is-hidden";
                        @switch (type)
                        {
                            case "number":
                                <input name="@target-value" step=".01" id="@target-input" class="target-input input @hiddenClass" type="number"/>
                                break;
                            case "select":
                                <div id="@target-input" class="target-input select is-fullwidth @hiddenClass">
                                    <select name="@target-value">
                                        @if(options.HasValue)
                                            @foreach(var option in options.Value)
                                            {
                                                <option value="@option">@option</option>
                                            }
                                    </select>
                                </div>
                                break;
                            case "text":
                            default:
                                <input id="@target-input" name="@target-value" class="target-input input @hiddenClass" type="text" />
                                break;
                        }
                        isFirst = false;
                    }
                }
                <button class="button">
                    Add filter
                </button>
                <button class="button is-primary" _="on click halt the event then send submit to #filters">
                    Search
                </button>
            </form>
            <form hx-post="/transaction-import/dry-run/@JobId/transactions"
                class="field is-grouped is-grouped-multiline" id="filters"
                hx-target="#transactions-list" hx-swap="outerHTML"
                hx-include="#paginator"
                _="on submit set #transactions-list's innerHTML to ''">
            </form>

            <br/>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Copy Source Data</th>
                    </tr>
                </thead>
                <tbody id="transactions-list">
                    <tr id="paginator"></tr>
                </tbody>
            </table>
            <div 
                data-loading="inherit" 
                data-loading-path="/transaction-import/dry-run/@JobId/transactions"
                class="loader is-loading" style="margin:auto;"></div>
        </section>
        <footer class="modal-card-foot">
        </footer>
    </div>
</div>