@using Haondt.Web.Components
@using SpendLess.TransactionImport.Models

@code{
    [Parameter]
    public SetupSelectTransactionsField? SelectTransactionsField { get; set; }
}

<div id="transaction-import" class="block" style="max-width:var(--spendless-form-page-width);margin:auto;">
    <div class="panel is-link" >
        <p class="panel-heading">Reconcile Transactions</p>
        <form hx-post="/reconcile/dry-run">
            <div class="panel-block">
                <div class="control">
                    <h2 class="subtitle">Select Eligible Transactions</h2>
                    @if(SelectTransactionsField != null)
                    {
                        <ObjectComponentT Component="@SelectTransactionsField" />
                    }
                    else
                    {
                        <SetupSelectTransactionsField />
                    }
                </div>
            </div>
            <div class="panel-block">
                <div class="control">
                    <h2 class="subtitle">Configure Pairing Strategy</h2>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="pair-match-description" />
                                Require matching descriptions
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="pair-match-date" checked/>
                                Require matching dates
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Date Match Tolerance (days)</label>
                        <div class="control">
                            <input style="width:initial;" class="input" type="number" placeholder="days" value="5" name="pair-date-tol"/>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel-block">
                <div class="control">
                    <h2 class="subtitle">Configure Joining Strategy</h2>

                    <div class="field">
                        <label class="label">Description Joining Strategy</label>
                        <div class="control">
                            <div class="select">
                                <select name="join-description">
                                    <option value="@DescriptionJoiningStrategy.Source" selected>Use Source</option>
                                    <option value="@DescriptionJoiningStrategy.Destination">Use Destination</option>
                                    <option value="@DescriptionJoiningStrategy.Concatenate">Concatenate</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Date Joining Strategy</label>
                        <div class="control">
                            <div class="select">
                                <select name="join-date">
                                    <option value="@DateJoiningStrategy.Source">Use Source</option>
                                    <option value="@DateJoiningStrategy.Destination">Use Destination</option>
                                    <option value="@DateJoiningStrategy.Average" selected>Average</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Category Joining Strategy</label>
                        <div class="control">
                            <div class="select">
                                <select name="join-category">
                                    <option value="@CategoryJoiningStrategy.Source">Use Source</option>
                                    <option value="@CategoryJoiningStrategy.Destination">Use Destination</option>
                                    <option value="@CategoryJoiningStrategy.Clear" selected>Clear Category</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel-block">
                <div class="control">
                    <button class="button is-primary">Dry-Run</button>

                </div>
            </div>
        </form>
    </div>
    <div id="dry-run-result"></div>
</div>
