@using Haondt.Core.Models
@using Midas.Core.Models
@using Midas.Domain.Accounts.Models
@using Midas.Domain.Accounts.Services
@using Midas.UI.Shared.Components
@inject IAccountsService AccountsService

@code {

    [Parameter]
    public Dictionary<string, AccountDetails> AccountDtos { get; set; } = [];

    [Parameter]
    public Optional<(int Page, int TotalPages, int? PageSize, string Slug)> Paginator { get; set; } = new();
}

<table class="table is-striped is-fullwidth" id="accounts-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var account in AccountDtos)
        {
        <tr>
            <td><a
                hx-boost="true"
                href="/account/@account.Key"
                hx-target="#content">
                @account.Value.Name</a>
            </td>
            <td>
                    @if(account.Value.Balance < 0)
                    {
                        <p class="has-text-danger">@StringFormatter.FormatCurrency(account.Value.Balance)</p>
                    }
                    else if (account.Value.Balance > 0)
                    {
                        <p class="has-text-success">@StringFormatter.FormatCurrency(account.Value.Balance)</p>
                    }
                    else
                    {
                        <p>@StringFormatter.FormatCurrency(account.Value.Balance)</p>
                    }
                </td>
            <td>
                <ActionsDropdown>
                    <button 
                        class="dropdown-item"
                        hx-swap="none"
                        _="on htmx:afterOnLoad
                            if event.detail.xhr.status == 204
                                then remove the closest <tr/>"
                        hx-confirm="are you sure?"
                        hx-delete="/account/@account.Key">
                        <span class="icon has-text-danger">
                            <i class="fa-solid fa-trash"></i>
                        </span>
                        <span>delete</span>
                    </button>
                </ActionsDropdown>
            </td>
        </tr>
        }
        @if (Paginator.HasValue)
        {
            <tr id="paginator">
                <td colspan="3">
                    <form hx-get="@Paginator.Value.Slug" hx-select="#accounts-list" hx-target="#accounts-list" hx-swap="outerHTML">
                        <Paginator
                            Page="@Paginator.Value.Page"
                            TotalPages="@Paginator.Value.TotalPages" 
                            PageSize="@Paginator.Value.PageSize"
                            OnChange="@("send submit to the closest <form/>")"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
