@using Haondt.Core.Models
@using Haondt.Web.Core.Components
@using Haondt.Identity.StorageKey
@using SpendLess.Accounts.Models
@using SpendLess.Accounts.Services
@using SpendLess.Domain.Models
@using SpendLess.Persistence.Services
@using SpendLess.Web.Domain.Components
@using SpendLess.Web.Domain.Services
@inject IAccountsService AccountsService

@code {

    [Parameter]
    public Dictionary<string, AccountDetails> AccountDtos { get; set; } = [];

    [Parameter]
    public Optional<(int Page, int TotalPages, int? PageSize, string Slug)> Paginator { get; set; } = new();
}

<table class="table is-striped is-fullwidth" id="accounts-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var account in AccountDtos)
        {
        <tr>
            <td><a
                hx-boost="true"
                href="/account/@account.Key"
                hx-target="#content">
                @account.Value.Name</a>
            </td>
            <td>
                    @if(account.Value.Balance < 0)
                    {
                        <p class="has-text-danger">@StringFormatter.FormatCurrency(account.Value.Balance)</p>
                    }
                    else if (account.Value.Balance > 0)
                    {
                        <p class="has-text-success">@StringFormatter.FormatCurrency(account.Value.Balance)</p>
                    }
                    else
                    {
                        <p>@StringFormatter.FormatCurrency(account.Value.Balance)</p>
                    }
                </td>
            <td>
                <div class="is-flex is-flex-direction-column is-align-items-flex-end">
                    <div>
                        <button class="button is-small"
                            _="
                                set :dd to the next .dropdown
                                on click toggle .is-active on :dd
                                on click from elsewhere
                                    if the event's target is not in :dd
                                        remove .is-active from :dd">
                            <span>actions</span>
                            <span class="icon">
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown is-right">
                        <div class="dropdown-menu">
                            <div class="dropdown-content">
                                <button 
                                    class="dropdown-item"
                                    hx-swap="none"
                                    _="on htmx:afterOnLoad
                                        if event.detail.xhr.status == 204
                                            then remove the closest <tr/>"
                                    hx-confirm="are you sure?"
                                    hx-delete="/account/@account.Key">
                                    <span class="icon has-text-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </span>
                                    <span>delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        }
        @if (Paginator.HasValue)
        {
            <tr id="paginator">
                <td colspan="3">
                    <form hx-get="@Paginator.Value.Slug" hx-select="#accounts-list" hx-target="#accounts-list" hx-swap="outerHTML">
                        <Paginator
                            Page="@Paginator.Value.Page"
                            TotalPages="@Paginator.Value.TotalPages" 
                            PageSize="@Paginator.Value.PageSize"
                            OnChange="@("send submit to the closest <form/>")"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
