@code {
    [Parameter, EditorRequired]
    public required int TotalPages { get; set; } 
    [Parameter, EditorRequired]
    public required int Page { get; set; }

    [Parameter, EditorRequired]
    public required string OnChange { get; set; }

    private RenderFragment<(int Page, bool IsCurrent)> CreateSelectPageListItem = default!;

    protected override void OnInitialized()
    {
        CreateSelectPageListItem = (args) =>
        {
            var attrs = new Dictionary<string, object>
                {
            { "class", "pagination-link"}
                };
            if (args.IsCurrent)
                attrs["class"] += " is-current";
            else
                attrs["_"] = $"on click set #paginator-page's value to {args.Page} then {OnChange}";

            return@<li>
                <button @attributes="attrs">
                    @(args.Page)
                </button>
            </li>
    ;
        };
    }
}
<div id="paginator">
    <nav class="pagination is-right">
        <div class="select">
            <select name="page-size" _="on change @OnChange">
                <option value="25">25 rows per page</option>
                <option value="50">50 rows per page</option>
                <option value="100">100 rows per page</option>
            </select>
        </div>
        <input id="paginator-page" type="hidden" name="page" value="1" />
        <input id="paginator-total-pages" type="hidden" name="total-pages" value="@TotalPages" />
        <ul class="pagination-list">
            @if(Page > 2)
            {
                @CreateSelectPageListItem((1, false))
                <li><span class="pagination-ellipsis">&hellip;</span></li>
            }
            @if(Page > 1)
            {
                @CreateSelectPageListItem((Page - 1, false))
            }
            @CreateSelectPageListItem((Page, true))
            @if(TotalPages > Page)
            {
                @CreateSelectPageListItem((Page + 1, false))
            }
            @if(TotalPages > (Page + 1))
            {
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                @CreateSelectPageListItem((TotalPages, false))
            }
        </ul>
    </nav>
</div>