@using SpendLess.Domain.Models
@using SpendLess.Transactions.Models
@using SpendLess.Web.Domain.Components
@using SpendLess.Web.Domain.Services

@code {
    [Parameter]
    public Dictionary<long, ExtendedTransactionDto> Results { get; set; } = [];
    [Parameter, EditorRequired]
    public required long Page { get; set; }
    [Parameter, EditorRequired]
    public required long TotalPages { get; set; }
    [Parameter]
    public long? PageSize { get; set; }
}

<form style="width:100%">
    <div class="table-container">
        <table class="table is-fullwidth is-hoverable">
            <style>
                @@scope {
                    tr.summary:hover,
                    tr.summary:hover + tr,
                    tr.summary:has(+ tr:hover)
                    {
                        cursor: pointer;
                        background-color: var(--bulma-table-row-hover-background-color);
                    }
                    
                    tr.expanded td {
                        border: none;
                    }

                    tr.details table {
                        --bulma-table-cell-border-color: hsl(0, 0%, 14%);
                    }
                }
            </style>
            <thead>
                <tr>
                    <th>
                        <input id="select-all" 
                            _="on click
                                if my checked is true then
                                    repeat in <input.select-checkbox/>
                                        set it.checked to true
                                    end
                                else
                                    repeat in <input.select-checkbox/>
                                        set it.checked to false
                                    end
                                end
                            end
                            on updateState
                                set my checked to false
                            end
                            "
                            name="select-all" type="checkbox"/>
                    </th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th class="actions">
                        <div class="is-flex is-flex-direction-column is-align-items-flex-end">
                            <div>
                                <button class="button is-small"
                                    _="
                                        set :dd to the next .dropdown
                                        on click toggle .is-active on :dd then halt the event
                                        on click from elsewhere
                                            if the event's target is not in :dd
                                                remove .is-active from :dd">
                                    <span>actions</span>
                                    <span class="icon">
                                        <i class="fa-solid fa-caret-down"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown is-right">
                                <div class="dropdown-menu">
                                    <div class="dropdown-content">
                                        <button 
                                            class="dropdown-item"
                                            hx-swap="none"
                                            hx-confirm="are you sure?"
                                            hx-include="closest <form/>, #filters"
                                            hx-delete="/transactions">
                                            <span class="icon has-text-danger">
                                                <i class="fa-solid fa-trash"></i>
                                            </span>
                                            <span>delete selected</span>
                                        </button>
                                        <button 
                                            class="dropdown-item"
                                            hx-target="#content"
                                            hx-swap="innerHTML"
                                            hx-include="closest <form/>, #filters"
                                            hx-push-url="true"
                                            hx-get="/transaction-import/reimport">
                                            <span class="icon has-text-warning">
                                                <i class="fa-solid fa-arrows-rotate"></i>
                                            </span>
                                            <span>re-import selected</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="transactions-list">

                @foreach(var (id, transaction)  in Results)
                {
                    <Transaction Id="@id" TransactionDto="@transaction" />
                }
                <tr id="paginator">
                    <td colspan="5">
                        <Paginator Page="@Page" TotalPages="@TotalPages" PageSize="PageSize" OnChange="@("send submit to #filters")"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 

</form>
